<h1>Construct your article here:</h1>
<div class='compose-article'>
<form action='/articles' method='post'>
<label for='title'>Title
</label>
<input id='title' type='text' name='title'>
<br><br>
<label for='content'>
<input id='content' type='text' name='content'>
<input type='submit' value='Submit'>
</label>
</form>

</div>